.topbarContainer{
  position: relative;
  background : #fff;
  border-bottom: 1px solid #bdc3c7;
  padding: 15px 15px;
  box-sizing: border-box;
}

.inputControl{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

input{
  background: #f6f4f6;
  color: #afadaf;
  letter-spacing: 1px;
  border: none;
  flex-grow: 1;
  font-size: 0.9em;
  padding: 15px;
  padding-left: 35px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.inputIconControl{
  display: inline-flex;
  width: 100%;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
}

.backIcon{
  height: 20px;
}
.backIcon img{
  width: 20px;
  height: 100%;
  margin-left:5px;
}

.cancelIcon{
  height:20px;
}
.cancelIcon img{
  width: 20px;
  height: 20px;
  margin-right:10px;
}
