.topbarContainer{
  position: relative;
  background : #fff;
  border-bottom: 1px solid #bdc3c7;
  padding: 15px 15px;
  box-sizing: border-box;
}

.inputControl{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

input{
  background: #f6f4f6;
  color: #afadaf;
  letter-spacing: 1px;
  border: none;
  flex-grow: 1;
  font-size: 0.9em;
  padding: 15px;
  padding-left: 35px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.inputIconControl{
  display: inline-flex;
  width: 100%;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
}

.backIcon{
  height: 20px;
}
.backIcon img{
  width: 20px;
  height: 100%;
  margin-left:5px;
}

.cancelIcon{
  height:20px;
}
.cancelIcon img{
  width: 20px;
  height: 20px;
  margin-right:10px;
}

.contentContainer{
  padding: 0 15px;
}
.contentHeader{
  padding: 20px 0;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #5e5c5e;
}


.resultBox{
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #f1eff1;
}
.resultImage{
  flex-basis: 30%;
  background: #333;
}
.result{
  padding-left: 15px;
  flex-grow:1;
}
.resultDistance{
  display:flex;
  align-items: center;
  flex-grow:0;
  font-size: 0.8em;
  letter-spacing: 1px;
  color:#d0ced0;
}
.resultName{
  font-size: 1.1em;
  color:#7b797b;
  letter-spacing: 1px;
  margin-bottom: 7px;
}
.resultZone{
  font-size: 0.8em;
  letter-spacing: 1px;
  color:#ceccce;
  margin-bottom: 7px;
}
.resultStar img{
  margin-right:2px;
  width: 9px;
}
.bottomMenu{
  display: flex;
  flex-direction:row;
  position: fixed;
  bottom:0;
  width: 100%;
  border-top: solid 1px #bdc3c7;
}
.bottomMenu img{
  width: 27px;
  height: 27px;
}
.menuButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px 0;
}
.menuButton p{
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 0.6em;
  letter-spacing: 1px;
}
